* {
  box-shadow: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: rgba(143, 143, 143, 0.3843137255);
}

.head {
  height: 603px;
  background: url("../img/1094730.jpg");
}

header {
  height: 60px;
  background-color: #171717;
  margin-top: 20px;
}
header .subheader_descr {
  display: flex;
  justify-content: space-around;
  color: black;
  margin-top: 0px;
  text-transform: uppercase;
}
header .subheader_descr button {
  background-color: #171717;
  color: white;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  border: none;
  border-right: 1px dotted white;
  border-left: 1px dotted white;
  transition: 0.5s all;
}
header .subheader_descr button:hover {
  background-color: rgba(143, 143, 143, 0.3843137255);
}

.content {
  padding-top: 20px;
}
.content_left_menu {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  padding: 20px;
}
.content_left_menu ul {
  list-style-type: none;
}
.content_pictures {
  background-color: white;
  padding: 20px;
}
.content_pictures_descr {
  height: 50px;
  border: 2px solid black;
  margin-bottom: 20px;
}
.content_pictures_wrap .wrap_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content_pictures_wrap .wrap_block .test_img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 5px;
}

footer {
  height: 60px;
  background-color: #171717;
  margin-top: 20px;
}
footer .social {
  height: 60px;
  display: flex;
  align-items: center;
}
footer .social a {
  margin-left: 10px;
}
footer .social .icon-twitch {
  transition: 1s all;
}
footer .social .icon-twitch:hover {
  color: #6441a5;
}
footer .social .icon-vk {
  transition: 1s all;
}
footer .social .icon-vk:hover {
  color: #4C75A3;
}
footer .social .icon-soundcloud {
  transition: 1s all;
}
footer .social .icon-soundcloud:hover {
  color: #ff7700;
}
footer .social .icon-youtube {
  transition: 1s all;
}
footer .social .icon-youtube:hover {
  color: #ff0000;
}

.main {
  padding-top: 150px;
  height: 800px;
  background-color: #00ffb3;
}
.main .block {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  height: 600px;
  border: solid 2px;
  background-image: radial-gradient(green, purple);
  justify-content: space-between;
  align-content: space-between;
  padding: 10px;
}
.main .block_inOne, .main .block_inTwo, .main .block_inThree, .main .block_inFour {
  display: flex;
  width: 250px;
  height: 250px;
  border: solid 2px;
  background-image: radial-gradient(circle, green 0%, purple 20%, orange 100%);
  padding: 15px;
  text-align: center;
}
.main .block_inRound {
  display: flex;
  position: absolute;
  left: 295px;
  top: 259px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: solid 2px;
  background-image: radial-gradient(circle, green 0%, purple 20%, blue 100%);
}

.psevdo {
  padding-top: 100px;
  min-height: 900px;
  background-color: rgba(0, 149, 255, 0.3019607843);
}
.psevdo .box {
  height: 150px;
  width: 200px;
  background-color: red;
  transition: 1s all;
  text-align: center;
  color: red;
}
.psevdo .box:hover {
  background-color: rgba(255, 3, 200, 0.9137254902);
  color: rgba(255, 3, 200, 0.9137254902);
}
.psevdo .box:active {
  background-color: black;
  color: white;
}
.psevdo span {
  display: inline-block;
  margin-top: 50px;
}
.psevdo button {
  margin: 60px 0 60px 0;
  width: 150px;
  height: 45px;
  background-color: #ffe66b;
  border: none;
  cursor: pointer;
  transition: 1s all;
}
.psevdo button:hover {
  background-color: rgba(255, 3, 108, 0.5647058824);
  color: white;
}
.psevdo button:active {
  background-color: orange;
}
.psevdo button:focus {
  background-color: rgba(53, 3, 255, 0.4235294118);
  border: solid 2px;
}
.psevdo .circle {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 100%;
  margin-top: 10px;
  transition: 1s all;
}
.psevdo .circle:nth-child(2n+1) {
  background-color: red;
}
.psevdo .circle::before {
  content: "";
  display: block;
  height: 8px;
  width: 0%;
  background-color: black;
  transition: 1s all;
}
.psevdo .circle:hover {
  background-color: rgba(53, 3, 255, 0.4235294118);
}
.psevdo .circle:hover::before {
  width: 100%;
}

.adaptive {
  height: 800px;
}
.adaptive .box {
  background-color: red;
  border: 4px solid;
  text-align: center;
}/*# sourceMappingURL=style.css.map */